/** @format */

@font-face {
  font-family: "Enriqueta Regular";
  src: url(../fonts/Enriqueta/Enriqueta-Regular.ttf);
}

@font-face {
  font-family: "Enriqueta Medium";
  src: url(../fonts/Enriqueta/Enriqueta-Medium.ttf);
}

@font-face {
  font-family: "Enriqueta Semibold";
  src: url(../fonts/Enriqueta/Enriqueta-SemiBold.ttf);
}

@font-face {
  font-family: "Enriqueta Bold";
  src: url(../fonts/Enriqueta/Enriqueta-Bold.ttf);
}

* {
  font-family: "Enriqueta Regular", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f0f0f0;
}

body,
html,
.close-button-container,
.modal {
  display: grid;
}

body,
html,
.modal {
  place-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

canvas {
  border: 1px solid #000000;
  border-radius: 1.5em;

  @media (max-width: 800px) {
    width: 95dvw;
  }
}

button {
  border: 1px solid #888888;
  padding: 5px 15px;

  &:hover {
    background-color: #dfdfdf;
  }

  &:focus {
    background-color: #f0f0f0;
  }
}

/* Modal Styles */
.modal {
  width: 50%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 30px;
  min-height: 200px;
  border: 1px solid #888888;
  width: clamp(200px, 60%, 650px);
  position: relative;
  margin: 15% auto;
  border-radius: 2.5em;

  h2 {
    font-size: 2rem;
    margin-block-end: 10px;
  }

  p,
  button {
    margin-block: 5px;
  }

  button {
    outline: none;
    border: 0.5px solid #888888;
  }
}

.close-button-container {
  height: 3em;
  width: 3em;
  top: 5%;
  right: 3.5%;
  justify-content: center;
  padding: 0.2em;
  position: absolute;
  border-radius: 50%;
  transition: background 200ms ease-in-out, color 300ms ease;
  cursor: pointer;

  @media (max-width: 768px) {
    right: 5%;
  }

  &:hover {
    background-color: #aac9;
  }

  .close {
    color: #605e5e;
    display: inline-flex;
    font-size: 2rem;
    margin: 0;
  }

  &:hover .close,
  .close:focus {
    color: #000000;
  }
}

.button-container {
  display: flex;
  gap: 1em;
  padding: 20px;
  transform: translateY(-80%);
}
