/** @format */

/* Font-face initialisation */
@font-face {
  font-family: "Enriqueta Regular";
  src: url(../fonts/Enriqueta/Enriqueta-Regular.ttf);
}

@font-face {
  font-family: "Enriqueta Medium";
  src: url(../fonts/Enriqueta/Enriqueta-Medium.ttf);
}

@font-face {
  font-family: "Enriqueta Semibold";
  src: url(../fonts/Enriqueta/Enriqueta-SemiBold.ttf);
}

@font-face {
  font-family: "Enriqueta Bold";
  src: url(../fonts/Enriqueta/Enriqueta-Bold.ttf);
}

/* Global Reset */
* {
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --font-color: #534137;
  --hover-color: #967359;
  --border-color: #b09d89;
  --background-color: #f9f0e5;
  --close-button-color: #392e24;
  --modal-background: #fef7eb;
  --hover-background: #e6ddce;
  --backdrop-background: rgba(57, 46, 36, 0.5);
  --font-family: "Enriqueta Regular", sans-serif;
  --font-family-bold: "Enriqueta Bold", sans-serif;
  --font-family-medium: "Enriqueta Medium", sans-serif;
  --border-radius: 1.5em;
}

body,
html {
  font-family: "Enriqueta Bold", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background-color);

  h1 {
    font-family: var(--font-family-bold);
    font-weight: 600;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 300;
    font-family: var(--font-family-medium);
  }
}

body,
html {
  display: grid;
  place-items: center;
}

canvas {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  @media (max-width: 800px) {
    width: 95dvw;
  }
}

button {
  background: transparent;
  padding: 5px 15px;
  border: 1.5px solid var(--border-color);
  font-family: var(--font-family);

  &:hover {
    background-color: var(--hover-background);
  }

  &:focus {
    background-color: var(--background-color);
  }
}

/* Modal Styles */
.modal {
  width: 50%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  background-color: var(--backdrop-background);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

/* Modal Content */
.modal-content {
  background-color: var(--modal-background);
  margin: 15% auto;
  padding: 35px;
  min-height: 200px;
  position: relative;
  width: clamp(200px, 60%, 650px);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  h2 {
    font-size: 2rem;
    margin-block-end: 10px;
  }

  p,
  button {
    margin-block: 5px;
  }

  button {
    outline: none;
    border: 1px solid var(--border-color);
  }
}

.close-button-container {
  height: 3em;
  width: 3em;
  top: 5%;
  right: 3.5%;
  justify-content: center;
  padding: 0.2em;
  position: absolute;
  border-radius: 50%;
  transition: background 200ms ease-in-out, color 300ms ease;
  cursor: pointer;

  @media (max-width: 768px) {
    right: 5%;
  }

  &:hover {
    background-color: var(--hover-background);
  }

  .close {
    margin: 0;
    font-size: 2rem;
    display: inline-flex;
    color: var(--close-button-color);
  }

  &:hover .close,
  .close:focus {
    color: var(--hover-color);
  }
}

.button-container {
  display: flex;
  gap: 1em;
  padding: 20px;
  transform: translateY(-80%);
}

.close-button-container,
.modal {
  display: grid;
  place-items: center;
}

.version-element {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #666;
}

.menu-button {
  border: 2px solid var(--border-color);
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 10%;
}

#inGameMenu {
  position: absolute;
  top: 20%;
  left: 20%;
  border: 0.5px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--backdrop-background);
  backdrop-filter: blur(2px);
}